---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { FaArrowLeft } from "react-icons/fa6";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  const paths = projects.map((entry) => ({
    params: {
      project: entry.slug,
    },
    props: {
      data: entry.data,
    },
  }));

  return paths;
}

const { data } = Astro.props;
const im = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif,webp}"
);
---

<Layout title=`${data.name}`>
  <main class="min-h-screen py-24 md:py-0">
    <div class="lg:p-56 flex flex-col space-y-12">
      <h3
        class="animate text-subtle text-xl transition-all duration-100 hover:text-white"
      >
        <a class="flex gap-x-2 items-center" href="/">
          <FaArrowLeft />
          back to home
        </a>
      </h3>
      <div class="space-y-4">
        <h2 class="animate text-5xl text-white font-bold">{data.name}</h2>
        <div class="animate flex space-x-2">
          <a
            target="_blank"
            href={data.deployment}
            class="text-subtle hover:text-white underline text-lg">demo</a
          >
          <span class="text-subtle text-lg">/</span>
          <a
            target="_blank"
            href={data.githublink}
            class="text-subtle hover:text-white underline text-lg">repo</a
          >
        </div>
        <div class="animate grid md:grid-cols-2 pt-6 gap-x-4 gap-y-4">
          <div class="flex flex-col space-y-2">
            <p class="text-white">Role</p>
            <p class="text-accent">{data.role}</p>
          </div>
          <div class="flex flex-col space-y-2">
            <p class="text-white">Category</p>
            <p class="text-accent">{data.category}</p>
          </div>
        </div>
      </div>
      <Image
        draggable={false}
        transition:name={data.name}
        transition:animate="initial"
        src={im[data.mockup]()}
        alt={`${data.title} mockup`}
        class="md:h-full h-[25dvh] object-cover pt-4"
      />
      <p class="animate text-lg text-content">{data.description}</p>
      <div class="animate space-y-4 flex flex-col">
        <h2 class="text-3xl text-white font-semibold">Technology Stack</h2>
        <p class="text-lg text-content">
          This app was built with <span class="text-white"
            >{data.stack.join(", ")}</span
          >.
        </p>
      </div>
      <div class="animate space-y-4 flex flex-col">
        <h2 class="text-3xl text-white font-semibold">Features</h2>
        <p class="text-lg text-content">
          Below are list of features that this application has:
        </p>
        <ul
          class="list-disc text-lg list-inside text-content marker:text-accent"
        >
          {data.features_scope.map((tech) => <li>{tech}</li>)}
        </ul>
      </div>
      <div class="animate flex flex-col space-y-4">
        {
          data.gallery.map((imageUrl) => (
            <Image
              draggable={false}
              src={im[imageUrl]()}
              alt={`${data.title} mockup`}
              class="md:h-full object-cover pt-4"
            />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
